.jumbotron {
    background-image:
        url(/BOOTSTRAP/assests/the-ordinary.jpg);
        )
        color: white;
        background-size: cover;
        height: 100vh;
}

.footer {
 margin-top: 2em;
 padding: .5em;
 height: 10vh;
}