body {
  padding-top: 56px;  
}

.navbar {
    align-content: flex-end;
}

.social img {
    width: 25px;
}

.social {
  position: relative;
}

.container img {
  position: absolute;
  height: 400px;
}

.container {
  position: absolute;
}

.form {
  display: flex
  position: absolute;
}